body {
    background-color: #243447;
}

h1 {
    color: #ffffff;
    font-size: 75px;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    width : 20%;
    height: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}

#basic-info {
    background-color: #c51f5d;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;

}

#further-info {
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0%;
    padding: 10px;
    border-radius : 25px;
}


